name: Sphinx website update

on:
  push:
    branches:    
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        # This gets all branches (1 = only current branch)
        fetch-depth: 0
    - name: Install dependencies
      run: pip install -r requirements.txt
    - name: Setup worktree
      run: |
        git checkout gh-pages
        git worktree add workspace main
    - name: Sphinx build
      run: sphinx-build -b html workspace/source docs
    - name: Commit and Push changes to gh-pages branch
      run: |
        git worktree remove workspace
        git add docs
        # git config --local user.email "action@github.com"
        # git config --local user.name "GitHub Action"
        git commit -m "automated Sphinx build of commit to main"
        git push
